# =========================
# Montonio
# =========================
MONTONIO_ENV=sandbox
MONTONIO_API_BASE=
MONTONIO_ACCESS_KEY=
MONTONIO_SECRET_KEY=

# =========================
# Resend (soovituslik)
# =========================
RESEND_API_KEY=
MAIL_FROM="Ticketrise <onboarding@resend.dev>"

# =========================
# SMTP fallback (valikuline)
# =========================
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
# Kui tahad SMTP-d kasutada, pane MAIL_FROM siia sobivaks:
# MAIL_FROM="Ticketrise <YOUR_GMAIL@gmail.com>"
